html>*{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #eef2f2;
}

header {
  font-family: Helvetica, sans-serif;
  color: #555454;
  margin: 5vh;
}

#file-upload > p {
  color: #8f8c8c;
}


[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type="file"] + label, button[type="submit"] {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}
[type="file"] + label :hover, button[type="submit"]+ label :hover {
    background-color: darken(#f15d22, 10%);
  }
 
[type="file"]:focus + label, button[type="submit"] + label{
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

#save-btn{
  background: #e97b3b;
  color: #ffffff;
  font-family: "Gill Sans", sans-serif;  
  margin: 2vh;
}

.icon-upload {
    display: inline-block;
    width: 100%;
    height: 10em;
    stroke-width: 0;
    stroke: currentColor;
    fill: #eeeaea93 !important;
  }
 
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}


div#container {
 
  background-color: #fff;
  height: 80vh;
  margin: 5vh;
}

#file-upload{
  margin: 5vh 5vh 2vh 2vh;
  width: 90%;
  height: 70vh;
  position: absolute;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  background-color: #eef2f2; 
}

section {
  display: flex;
  justify-content: space-between;
}

section > h2 {
  padding-left: 2vw;
}


#column-mapping {
  width: 80vw;
  height: 71vh;
  position: absolute;
  left: 10%;
}

